/* General homescreen rules */

.homescreen-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 15px;
}

/* General icon rules */

.icon-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 14px;
  user-select: none;
}

.icon {
  display: flex;
  flex-flow: column nowrap;
  width: 100px;
  height: 112px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.icon-image {
  margin: 1px 0;
  height: 80px;
  width: 80px;
  background-color: red;
  border-radius: 10px;
  box-shadow: 3px 2px  5px 0 #333;
  background-size: 80px 80px;
  background-position: center;
}

.icon-label {
  width: 80px;
  text-align: center;
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

/* Icon interactivity rules */

.icon:hover .icon-image {
  margin: 0;
  height: 82px;
  width: 82px;
  background-size: 82px 82px; 
}

.icon-wrapper.fade {
  filter: opacity(0)
}

.icon-wrapper.drag {
  width: fit-content;
  position: absolute;
  z-index: 100;
}

/* Responsive layout rules */

@media (max-width: 499px) {
  .icon-wrapper {
    flex-basis: 50%;
  }
}

@media (min-width: 500px) {
  .icon-wrapper {
    flex-basis: 25%;
  }
}

@media (min-width: 1000px) {
  .icon-wrapper {
    flex-basis: 16.666%;
  }
}

/* Background */

html {
  height: 100%;
  background: rgba(94,156,208,1);
  background: linear-gradient(160deg, rgba(208,109,242,1) 0%, rgba(103,103,200,1) 25%, rgba(94,156,208,1) 54%, rgba(67,242,207,1) 100%) fixed;
}
